@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0 {
  color: #ffffff;
}
.color-1 {
  color: #ff4444;
}
.color-2 {
  color: #99cc00;
}
.color-3 {
  color: #ffbb33;
}
.color-4 {
  color: #0099cc;
}
.color-5 {
  color: #33b5e5;
}
.color-6 {
  color: #aa66cc;
}
.color-8 {
  color: #cc0000;
}
.color-9 {
  color: #cc0068;
}

* {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: white !important;
}

.chat-window {
  position: absolute !important;
  top: 3.0% !important;
  left: 0.8% !important;
  font-size: 1.15vh !important;
  width: 38% !important;
  height: 22% !important;
  max-width: 1000px !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
  background: rgba(0, 0, 0, 0) !important;
}

.chat-messages {
  position: relative !important;
  height: 95% !important;
  font-size: 1.55vh !important;
  font-weight: bold !important;
  margin: 1% !important;

  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.chat-input {
  font-size: 1.55vh !important;
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0) !important;
  top: 23.8% !important;
  left: 0.8% !important;
  height: 15vh !important;
  width: 25% !important;
  max-width: 1000px !important;
  padding-top: 2vh;
  box-sizing: border-box !important;
}

.chat-input > div.input {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: rgba(0, 0, 0, 0) !important;
}


.prefix {
  font-size: 1.9vh!important;
  position: absolute!important;
  margin-top: 3.1%!important;
  left: 0.208%!important;
  line-height: calc(0vh + 0vh + 0vh)!important;
}


textarea {
  font-size: 2.65vh !important;
  display: block !important;
  box-sizing: border-box !important;
  padding: 5px !important;
  padding-left: 4.5% !important;
  color: white !important;
  background-repeat: inherit!important;
  background-color: rgba(0, 0, 0, 0.500) !important;
  padding-left: 30px !important;
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.9) !important;
  border-radius: 3px !important;
  height: 3.15% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

textarea:focus, input:focus {
  outline: none;
}

.msg {
  margin-bottom: 0.28% !important;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.55vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.500) !important;
  width: 100%;
}

.help {
  margin-top: -10px;
  color: #b0bbbd;
}

.disabled {
  margin-top: -10px;
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5px !important;
}

.chat-message {

  text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 0px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0) !important;
}

.chat-message-body {
  margin-top: 10px;
}
