body {
    background-color: transparent !important;
}

.template, .anuncios {
    display: none;
}

.StatusBar {
    height: 20px;
    width: 540px;
    position: absolute;
    right: 33%;
    display: flex;
    top:0%;
}

.anuncios {
    padding: 1px;
    padding-left: 10px;
    text-align: center;
    width: 500px;
    border-radius: 0 0 10px 10px;
    font: caption;
    font-size: 12px;
    font-weight: bold;
    color: rgb(240, 182, 7);
}

.lspd {
    background-color: rgba(37, 37, 37, 0.781);
    background-repeat: no-repeat;
}

.players-online {}